<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sectionTitle text-center">
                    <h2>
                        <span class="shape shape-left bg-color-4"></span> <span>Vertalen</span>
                        <span class="shape shape-right bg-color-4"></span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabCommon tabLeft">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" routerLink="/test/vertalen">&nbsp;&nbsp;Vertalen&nbsp;&nbsp;</a>
                        </li>
                        <li>
                            <a data-toggle="tab" routerLink="/test/results">Resultaten</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="leftHome" class="tab-pane fade in active">
                            <div class="media">
                                <div class="media-body">
                                    <app-test-translations-create *ngIf="testService.containsTestTranslation() === false"></app-test-translations-create>
                                    <app-test-translation-question *ngIf="testService.containsTestTranslation() === true"></app-test-translation-question>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>