.mainContent {
    padding: 40px 0px 25px 0px;
}

.sectionTitle h2 {
    margin-bottom: 50px;
}

.pageTitleSection {
    background-image: url("./img/page-title/page-title-bg.jpg"); /* TOD NOG IN GEBRUIK? PB 8/1/2017 */
    width: 100%;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    padding: 75px 0;
}

@media (min-width: 1200px) {
    .tabCommon .media-body {
        /* PB 8/1/2018 padding: 50px 30px 0 0; */
        padding: 15px;
    }
}

.servicesSection {
    background-image: url("./img/home/pattern-light.png");  /* TODO NOG IN GEBRUIK ? PB 8/1/2018 */
    width: 100%;
    background-repeat: repeat;
    height: auto;
    padding-bottom: 60px;
}

.teamSection {
    background-image: url("./img/home/pattern-light.png");  /* TODO NOG IN GEBRUIK ? PB 8/1/2018 */
    width: 100%;
    background-repeat: repeat;
    height: auto;
}

.commentSection {
    background-image: url("./img/home/pattern-light.png");  /* TODO NOG NI GEBRUIK? PB 8/1/2018 */
    width: 100%;
    background-repeat: repeat;
    height: auto;
}

.countUpSection {
    background-image: url("./assets/img/CounterBackground.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center !important;
    background-attachment: fixed;
    color: #ffffff;
    padding: 80px 0;
}

/* Customize the Checkbox / Radio label */
.languaCheckbox, .languaRadio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 3px 0px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
}

/* Hide the browser's default checkbox */
.languaCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid rgba(234, 112, 102, 0.3);
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.languaCheckbox:hover input ~ .checkmark {
    border: 2px solid rgba(234, 112, 102, 0.6);
    border-radius: 5px;
}

/* When the checkbox is checked, add a red background */
.languaCheckbox input:checked ~ .checkmark {
    background-color: #CF7869;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.languaCheckbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.languaCheckbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Customize the label (the languaRadio) */
.languaRadio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 3px 0px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
}

/* Hide the browser's default radio button */
.languaRadio input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkdot {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;

    border: 2px solid rgba(234, 112, 102, 0.3);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.languaRadio:hover input ~ .checkdot {

    border: 2px solid rgba(234, 112, 102, 0.6);
}

/* When the radio button is checked, add a red background */
.languaRadio input:checked ~ .checkdot {
    background-color: #CF7869;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkdot:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.languaRadio input:checked ~ .checkdot:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.languaRadio .checkdot:after {
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
}

b.subtitle {
    font-size: 16px;
}

.font0 {
    font-size: 0px;
}

.question {
    font-size: 25px;
}

.suffix {
    font-size: 13px;
    text-transform: uppercase;
}

.answerBox {
    font-size: 16px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px dotted #b5d56a;
    border-left: 0px;
    margin: 10px;
}

.wrong {
    font-weight: bold;
    color: #ea7066;
}

.correct {
    font-weight: bold;
    color: #b5d56a;
}

.adSense-sm {
    padding-left: 15px !important;
    width: 250px;

}