<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sectionTitle text-center">
                    <h2>
                        <span class="shape shape-left bg-color-4"></span>
                        <span>Veel gestelde vragen</span>
                        <span class="shape shape-right bg-color-4"></span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="accordionCommon hello" id="faqAccordion">
                    <div class="panel-group" id="accordionFaq">
                        <!-- DEEL 1 - ALGEMENE VRAGEN / ANTWOORDEN (bg-color-6 / roze) -->
                        <div class="panel panel-default">
                            <a class="panel-heading accordion-toggle bg-color-6" data-toggle="collapse" data-parent="#accordionFaq" href="#faq101">
                                <span>Waarom zou ik me registreren?</span>
                                <span class="iconBlock">
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                            </a>
                            <div id="faq101" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Door te registreren kunnen we je voorkeuren en leertraject onthouden en daarmee Langua
                                        optimaal afstemmen op jouw wensen. Geregistreerde gebruikers genieten GRATIS van
                                        tal van voordelen:</p>
                                    <table width="100%">
                                        <tr>
                                            <th></th>
                                            <th>ZONDER
                                                <br>registratie</th>
                                            <th>MET
                                                <br>registratie</th>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Vertalingen oefenen (Woordenschat)</td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Vervoegingen trainen (Regelmatige & onregelmatige vormen)</td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Snelle oefenpagin's zonder reclame</td>
                                            <td>-</td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Behoud van je eigen voorkeuren</td>
                                            <td>-</td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Mogelijkheid om op een later tijdstip verder te werken aan een test</td>
                                            <td>-</td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Persoonlijke resultaten na een test</td>
                                            <td>-</td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Tijdens het vervoegen zit u ook de vertaling(en) van het werkwoord</td>
                                            <td>-</td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Gepersonaliseerde tests met eerder fout gemaakte vragen</td>
                                            <td>-</td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Gepersonaliseerde tests met nog nooit goed beantwoorde vragen</td>
                                            <td>-</td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alignRight">Gratis newsletter via e-mail</td>
                                            <td>-</td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                        </tr>
                                    </table>
                                    <br>
                                    <br>
                                    <p>Registreren is
                                        <b>GRATIS</b> en neemt slechts enkele ogenblikken in beslag.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a class="panel-heading accordion-toggle bg-color-6" data-toggle="collapse" data-parent="#accordionFaq" href="#faq102">
                                <span>Problemen met de Facebook login.</span>
                                <span class="iconBlock">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </a>
                            <div id="faq102" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>In sommige gevallen is er een probleem met de connectie tussen Langua & Facebook. Dit
                                        komt meestal door een configuratieprobleem dat als volgt opgelost kan worden:</p>
                                    <p>&bull; Ga naar Facebook en open je 'Instellingen'. (Deze kan je vinden in het dropdown
                                        menu rechts bovenaan)
                                        <br>&bull; Kies 'Apps' en vervolgens 'Alles weergeven' om al je gekoppelde apps te bekijken.
                                        <br>&bull; Zoek de Langua app en verwijder deze uit de lijst.
                                    </p>
                                    <p>Daarna kan je teruggaan naar de Langua login pagina en zou alles netjes moeten werken.</p>
                                </div>
                            </div>
                        </div>
                        <!-- DEEL 2 - VERTALEN VRAGEN / ANTWOORDEN (bg-color-3 / rood) -->
                        <div class="panel panel-default">
                            <a class="panel-heading accordion-toggle bg-color-3" data-toggle="collapse" data-parent="#accordionFaq" href="#faq201">
                                <span>Ooit eerder gemaakte fouten vs. Nooit goed gemaakte antwoorden</span>
                                <span class="iconBlock">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </a>
                            <div id="faq201" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Bij het opstellen van een test kan je o.a. kiezen uit 'Ooit eerder gemaakte fouten' en
                                        'Nooit goed beantwoorde vragen'.</p>
                                    <p>Bij 'Ooit eerder gemaakte fouten' krijg je enkel vragen voorgeschoteld die je ooit al
                                        eens fout beantwoordt hebt. (Maar niet exclusief. D.w.z. dat als je een vraag ooit
                                        goed, maar ook ooit fout beantwoorde, ze bij deze toch nog eens terug gesteld zou
                                        kunnen worden.</p>
                                    <p>Bij 'Nooit eerder goed beantwoorde vragen' krijg je alleen vragen die je nog nooit hebt
                                        kunnen oplossen. (of die eerder nog niet gevraagd werden)</p>
                                    <p>Als je kiest om je resultaten te verwijderen gaat deze informatie verloren en kan je
                                        terug met een schone lei beginnen.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a class="panel-heading accordion-toggle bg-color-2" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-bb">
                                <span>How do I list multiple rooms?</span>
                                <span class="iconBlock">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </a>
                            <div id="collapse-bb" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                        piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                        McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one
                                        of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going
                                        through the cites of the word in classical literature, discovered the undoubtable
                                        source.</p>
                                    <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                        (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
                                        on the theory of ethics, very popular during the Renaissance. The first line of Lorem
                                        Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration in some form, by injected humour, or randomised words which don't
                                        look even slightly believable. If you are going to use a passage of Lorem </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a class="panel-heading accordion-toggle bg-color-4" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-dd">
                                <span>Problemen met de Facebook login.</span>
                                <span class="iconBlock">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </a>
                            <div id="collapse-dd" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>In sommige gevallen is er een probleem met de connectie tussen Langua & Facebook. Dit
                                        komt meestal door een configuratieprobleem dat als volgt opgelost kan worden:</p>
                                    <p>&bull; Ga naar Facebook en open je 'Instellingen'. (Deze kan je vinden in het dropdown
                                        menu rechts bovenaan)
                                        <br>&bull; Kies 'Apps' en vervolgens 'Alles weergeven' om al je gekoppelde apps te bekijken.
                                        <br>&bull; Zoek de Langua app en verwijder deze uit de lijst.
                                    </p>
                                    <p>Daarna kan je teruggaan naar de Langua login pagina en zou alles netjes moeten werken.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a class="panel-heading accordion-toggle bg-color-1" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-aa">
                                <span>Where does it come from?</span>
                                <span class="iconBlock">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </a>
                            <div id="collapse-aa" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                        piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                        McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one
                                        of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going
                                        through the cites of the word in classical literature, discovered the undoubtable
                                        source.</p>
                                    <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                        (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
                                        on the theory of ethics, very popular during the Renaissance. The first line of Lorem
                                        Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration in some form, by injected humour, or randomised words which don't
                                        look even slightly believable. If you are going to use a passage of Lorem </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a class="panel-heading accordion-toggle bg-color-5" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-ee">
                                <span>How do I list multiple rooms?</span>
                                <span class="iconBlock">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </a>
                            <div id="collapse-ee" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                        piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                        McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one
                                        of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going
                                        through the cites of the word in classical literature, discovered the undoubtable
                                        source.</p>
                                    <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                        (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
                                        on the theory of ethics, very popular during the Renaissance. The first line of Lorem
                                        Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration in some form, by injected humour, or randomised words which don't
                                        look even slightly believable. If you are going to use a passage of Lorem </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <aside>
                    <div class="panel panel-default eventSidebar">
                        <div class="panel-heading bg-color-1 border-color-1">
                            <h3 class="panel-title">Stel een vraag?</h3>
                        </div>
                        <div class="panel-body">
                            <div *ngIf="questionSend;Else contactForm" class="row">
                                <div class="col-sm-12">
                                    <p>We hebben uw vraag goed ontvangen.</p>
                                    <button type="button" class="btn btn-primary" (click)="questionSend = false">Terug</button>
                                </div>
                            </div>
                            <ng-template #contactForm>
                                <div class="homeContactContent">
                                    <form role="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
                                        <div class="form-group">
                                            <i class="fa fa-user"></i>
                                            <input type="text" class="form-control border-color-1" id="exampleInputEmail1" name="firstname" ngModel placeholder="Voornaam"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <input type="text" class="form-control border-color-2" id="exampleInputEmail2" name="email" ngModel placeholder="E-mail"
                                                required email>
                                        </div>
                                        <div class="form-group">
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            <textarea name="message" ngModel class="form-control border-color-4" placeholder="Bericht" required></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-Full" [disabled]="form.valid === false">Verzenden</button>
                                    </form>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>