<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sectionTitle text-center">
                    <h2>
                        <span class="shape shape-left bg-color-4"></span>
                        <span>Vervoegen</span>
                        <span class="shape shape-right bg-color-4"></span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabCommon tabLeft">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" routerLink="/test/conjugations">Vervoegen</a>
                        </li>
                        <li>
                            <a data-toggle="tab" routerLink="/test/results">Resultaten</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <div id="leftHome" class="tab-pane fade in active">
                                    <div class="media">
                                        <div class="media-body">
                                            <app-test-conjugations-create *ngIf="testService.containsTestConjugation() === false"></app-test-conjugations-create>
                                            <app-test-conjugation-question *ngIf="testService.containsTestConjugation() === true"></app-test-conjugation-question>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-body">
                                        <app-ad-sense></app-ad-sense>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>