<div *ngIf="conjugation">
    <table>
        <tr>
            <td colspan="2">{{conjugation.tense.name}}</td>
        </tr>
        <tr *ngFor="let i of [1,2,3,4,5,6]">
            <td align="right">{{forms[i]}}&nbsp;</td>
                <td *ngIf="conjugation['form' + i.toString() + 'Regular'] === true"><b>{{conjugation['form' + i.toString()].slice(0,baseLength)}}</b>{{conjugation['form' + i.toString()].slice(baseLength)}}</td>
                <td *ngIf="conjugation['form' + i.toString() + 'Regular'] === false"><b style="color: red;">{{conjugation['form' + i.toString()]}}</b></td>
        </tr>
    </table>
</div>