<div class="main-wrapper">
    <!-- HEADER -->
    <header id="pageTop" class="header-wrapper">
        <!-- COLOR BAR -->
        <div class="container-fluid color-bar top-fixed clearfix">
            <div class="row">
                <div class="col-sm-1 col-xs-2 bg-color-1">fix bar</div>
                <div class="col-sm-1 col-xs-2 bg-color-2">fix bar</div>
                <div class="col-sm-1 col-xs-2 bg-color-3">fix bar</div>
                <div class="col-sm-1 col-xs-2 bg-color-4">fix bar</div>
                <div class="col-sm-1 col-xs-2 bg-color-5">fix bar</div>
                <div class="col-sm-1 col-xs-2 bg-color-6">fix bar</div>
                <div class="col-sm-1 bg-color-1 hidden-xs">fix bar</div>
                <div class="col-sm-1 bg-color-2 hidden-xs">fix bar</div>
                <div class="col-sm-1 bg-color-3 hidden-xs">fix bar</div>
                <div class="col-sm-1 bg-color-4 hidden-xs">fix bar</div>
                <div class="col-sm-1 bg-color-5 hidden-xs">fix bar</div>
                <div class="col-sm-1 bg-color-6 hidden-xs">fix bar</div>
            </div>
        </div>

        <!-- TOP INFO BAR -->
        <div class="top-info-bar bg-color-7 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <ul class="list-inline topList">
                            <li>
                                <i class="fa fa-envelope bg-color-1" aria-hidden="true"></i>
                                <a href="mailto:info@yourdomain.com">info@langua.be</a>
                            </li>
                            <!--<li><i class="fa fa-phone bg-color-2" aria-hidden="true"></i> +1 234 567 8900</li>-->
                            <li>
                                <i class="fa fa-clock-o bg-color-6" aria-hidden="true"></i> Open: 24/7
                            </li>
                            <li>
                                <i class="fa fa-book bg-color-4" aria-hidden="true"></i>
                            </li>
                            <li>
                                <form (ngSubmit)="search()">
                                    <input class="searchbox" type="text" name="searchCtrl" [(ngModel)]="searchValue" placeholder="Zoek woord...">
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <ul class="list-inline functionList">
                            <li class="dropdown singleDrop color-4 ">
                                <i class="fa fa-globe bg-color-6" aria-hidden="true"></i>
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>{{currentLanguage}}</span> <span class="caret"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </a>
                                <ul class="dropdown-menu nav-menu dropdown-menu-right">
                                    <li class="" *ngFor="let language of languages">
                                        <a (click)="onLanguageChange(language.id,language.name)">{{language.name}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li *ngIf="memberService.isRegistered() === false">
                                <i class="fa fa-unlock-alt bg-color-5" aria-hidden="true"></i>
                                <a routerLink="/login">Inloggen of registreren</a>
                            </li>
                            <li *ngIf="memberService.isRegistered() === true" class="dropdown singleDrop color-4 ">
                                <i class="fa fa-user bg-color-5" aria-hidden="true"></i>
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span>{{ memberService.getMemberName() }}</span> <span class="caret"></span> </a>
                                <ul class="dropdown-menu nav-menu dropdown-menu-right">
                                    <li>
                                        <a routerLink="/member/profile">Mijn profiel</a>
                                    </li>
                                    <li>
                                        <hr>
                                    </li>
                                    <li>
                                        <a (click)="onLogout()">Uitloggen</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- NAVBAR -->
        <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" routerLink="/"> <img src="assets/img/logo-colors.png" alt="Langua"> </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown singleDrop color-6 ">
                            <a routerLink="/home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-home bg-color-6" aria-hidden="true"></i> <span class="">Home</span> </a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li class=" active ">
                                    <a routerLink="/login">Lid worden</a>
                                </li>
                                <li class="">
                                    <a routerLink="/faq">Veelgestelde vragen</a>
                                </li>
                                <li class="">
                                    <a routerLink="/blog" >Blog</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown singleDrop color-3 ">
                            <a routerLink="/test/translations" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-exchange bg-color-3" aria-hidden="true" (click)="testService.resetTest()"></i>
                                <span>vertalen</span> </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown dropdown-submenu">
                                    <a routerLink="/test/translations/en">Engelse woordenschat</a>
                                </li>
                                <li class="">
                                    <a routerLink="/test/translations/fr">Franse woordenschat</a>
                                </li>
                                <li class="">
                                    <a routerLink="/test/translations/es">Spaanse woordenschat</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown  singleDrop color-2">
                            <a routerLink="/test/conjugations" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-calendar-o bg-color-2" aria-hidden="true" (click)="testService.resetTest()"></i>
                                <span>Vervoegen</span> </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown dropdown-submenu">
                                    <a routerLink="/test/conjugations/en">Engelse vervoegingen</a>
                                </li>
                                <li class="">
                                    <a routerLink="/test/conjugations/fr">Franse vervoegingen</a>
                                </li>
                                <li class="">
                                    <a routerLink="/test/conjugations/es">Spaanse vervoegingen</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown singleDrop color-4 ">
                            <a routerLink="/dictionary" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-book bg-color-4" aria-hidden="true"></i> <span>Boeken</span> </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown dropdown-submenu">
                                    <a routerLink="/dictionary/en">Nederlands - Engels</a>
                                </li>
                                <li class="">
                                    <a routerLink="/dictionary/fr">Nederlands - Frans</a>
                                </li>
                                <li class="">
                                    <a routerLink="/dictionary/es">Nederlands - Spaans</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown singleDrop color-1 ">
                            <a routerLink="/verblist" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-file-text-o bg-color-1" aria-hidden="true"></i> <span>Lijsten</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">

                                <li class="">
                                    <a routerLink="/verblist/en">Engelse werkwoorden</a>
                                </li>
                                <li class="">
                                    <a routerLink="/verblist/fr">Franse werkwoorden</a>
                                </li>
                                <li class="">
                                    <a routerLink="/verblist/es">Spaanse werkwoorden</a>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="memberService.hasRole('admin') === true" class="dropdown singleDrop color-5 ">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-gg bg-color-5" aria-hidden="true"></i> <span>Admin zone</span> </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class=" ">
                                    <a>Accordions &amp; Toggles</a>
                                </li>
                                <li class="">
                                    <a>Tabs &amp; Dropdowns</a>
                                </li>
                                <li class=" ">
                                    <a>Alert-Label-badges</a>
                                </li>
                                <li class=" ">
                                    <a>Progress Bar</a>
                                </li>
                                <li class=" ">
                                    <a>Buttons</a>
                                </li>
                                <li class=" ">
                                    <a>Forms</a>
                                </li>
                                <li class=" ">
                                    <a>Listgroups Panel</a>
                                </li>
                                <li class=" ">
                                    <a>Tooltip Pagination</a>
                                </li>
                                <li class=" ">
                                    <a>Typography</a>
                                </li>
                                <li class=" ">
                                    <a>Responsive Embed</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <router-outlet></router-outlet>

    <!-- FOOTER -->
    <footer>
        <!-- COLOR BAR -->
        <div class="container-fluid color-bar clearfix">
            <div class="row">
                <div class="col-sm-1 col-xs-2 bg-color-1">fix bar</div>
                <div class="col-sm-1 col-xs-2 bg-color-2">fix bar</div>
                <div class="col-sm-1 col-xs-2 bg-color-3">fix bar</div>
                <div class="col-sm-1 col-xs-2 bg-color-4">fix bar</div>
                <div class="col-sm-1 col-xs-2 bg-color-5">fix bar</div>
                <div class="col-sm-1 col-xs-2 bg-color-6">fix bar</div>
                <div class="col-sm-1 bg-color-1 hidden-xs">fix bar</div>
                <div class="col-sm-1 bg-color-2 hidden-xs">fix bar</div>
                <div class="col-sm-1 bg-color-3 hidden-xs">fix bar</div>
                <div class="col-sm-1 bg-color-4 hidden-xs">fix bar</div>
                <div class="col-sm-1 bg-color-5 hidden-xs">fix bar</div>
                <div class="col-sm-1 bg-color-6 hidden-xs">fix bar</div>
            </div>
        </div>
        <!-- FOOTER INFO AREA -->
        <div class="footerInfoArea full-width clearfix" style="background-image: url(img/footer/footer-bg-1.png);">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="footerTitle">
                            <a routerLink="/home"> <img src="assets/img/logo-white.png"> </a>
                        </div>
                        <div class="footerInfo">
                            <p>De beste site om gemakkelijk vertalingen en vervoegingen te oefenen.</p>
                            <p>Als je wil houden wij je resultaten bij en zorgen we ervoor dat de zaken die je al kent niet meer gevraagd worden en de moeilijke items extra aandacht krijgen.</p>
                            <p>Langua, jouw garantie op taalsucces!</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="footerTitle">
                            <h4>Laatste Blog Nieuws</h4>
                        </div>
                        <div class="footerInfo">
                            <ul class="list-unstyled postLink">
                                <li>
                                    <div class="media">
                                        <a class="media-left">
                                            <img class="media-object img-rounded border-color-1" src="../assets/img/languages.png">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a>Langua 2.0 staat live.<br>Veel plezier met de nieuwe site.</a>
                                            </h5>
                                            <p>1 februari 2018</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <a class="media-left">
                                            <img class="media-object img-rounded border-color-2" src="../assets/img/blog-1.png">
                                        </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">
                                                <a>Bye bye (oude) Langua site...<br>Hoog tijd voor een nieuwe layout!</a>
                                            </h5>
                                            <p>17 november 2017</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="footerTitle">
                            <h4>Mailing List</h4>
                        </div>
                        <div class="footerInfo">
                            <p>Volg ons via Facebook of Twitter, of schrijf je in op onze mailing list en ontvang het laaste Langua nieuws en -aanbiedingen in je mailbox.
                                <br>&nbsp;</p>
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="email" placeholder="E-mail" aria-describedby="basic-addon21" required email #emailCtrl="ngModel">
                                <button type="button" (click)="onSubmit()" class="input-group-addon" id="basic-addon21" [disabled]="emailCtrl.valid === false">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- COPY RIGHT -->
        <div class="copyRight clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-sm-push-7 col-xs-12">
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/Langua.be" target="_blank" class="bg-color-4">
                                    <i class="fa fa-facebook" aria-hidden="true"></i></a>

                            </li>
                        </ul>
                        <div class="copyRightText">
                            <p style="text-align: right;">© 2008-2018 Langua.be</p>
                        </div>
                    </div>
                    <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                        <div id="g-recaptcha"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="scrolling">
    <a href="#pageTop" class="backToTop hidden-xs" id="backToTop"> <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
</div>