<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div *ngIf="mode === PRELOGIN" class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
                <div class="panel panel-default formPanel">
                    <div class="panel-heading bg-color-1 border-color-1">
                        <h3 class="panel-title">Aanmelden of registreren</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
                            <div class="form-group formField">
                                <input type="text" name="email" class="form-control" placeholder="E-mail" [(ngModel)]="email" required email>
                            </div>
                            <div class="form-group formField">
                                <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Volgende" [disabled]="form.invalid">
                            </div>
                            <div class="form-group formField">
                                <button type="button" class="btn btn-block btn-facebook-filled btn-rounded" (click)="FBLogin()">
                                    <i class="fa fa-facebook"></i>
                                    <span>Aanmelden met Facebook</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="mode === LOGIN" class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
                <div class="panel panel-default formPanel eventSidebar">
                    <div class="panel-heading bg-color-1 border-color-1">
                        <h3 class="panel-title">Aanmelden</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
                            <div class="form-group formField">
                                <input type="text" name="email" class="form-control" placeholder="E-mail" [ngModel]="email" disabled>
                                <!-- TODO: oogje-->
                            </div>
                            <div class="homeContactContent">
                                <div class="form-group formField">
                                    <i class="fa fa-eye" aria-hidden="true" (click)="onChangeInputType(passwordCtrl)"></i>
                                    <input type="password" name="password" class="form-control" placeholder="Wachtwoord" ngModel required minlength="3" #passwordCtrl>
                                </div>
                            </div>
                            <div class="form-group formField">
                                <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Aanmelden" [disabled]="form.invalid">
                            </div>
                            <div class="form-group formField">
                                <input type="button" (click)="mode=PRELOGIN" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Vorige">
                            </div>
                            <div class="text-right" style="display: block;">
                                    <a style="cursor: pointer;" (click)="requestPasswordReset()">Wachtwoord vergeten?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="mode === REGISTER" class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
                <div class="panel panel-default formPanel eventSidebar">
                    <div class="panel-heading bg-color-1 border-color-1">
                        <h3 class="panel-title">Registreren</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
                            <div class="form-group formField">
                                <input type="text" name="email" class="form-control" placeholder="E-mail" [ngModel]="email" [disabled]="!this.route.snapshot.data.mode" required email>
                            </div>
                            <div class="form-group formField">
                                <input type="text" name="firstname" class="form-control" placeholder="Voornaam" ngModel required #firstnameCtrl="ngModel">
                            </div>
                            <div class="form-group formField">
                                <input type="text" name="lastname" class="form-control" placeholder="Achternaam" ngModel required #lastnameCtrl="ngModel">
                            </div>
                            <div class="homeContactContent">
                                <div class="form-group formField">
                                    <i class="fa fa-eye" aria-hidden="true" (click)="onChangeInputType(passwordCtrl)"></i>
                                    <input type="password" name="password" class="form-control" placeholder="Wachtwoord" ngModel required minlength="3" #passwordCtrl>
                                </div>
                            </div>
                            <div class="homeContactContent">
                                <div class="form-group formField">
                                    <i class="fa fa-eye" aria-hidden="true" (click)="onChangeInputType(confirmCtrl)"></i>
                                    <input type="password" name="confirm" class="form-control" placeholder="Wachtwoord" ngModel required minlength="3" #confirmCtrl>
                                </div>
                            </div>
                            <div class="form-group formField">
                                <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Registreren" [disabled]="form.invalid || firstnameCtrl.value === lastnameCtrl.value || passwordCtrl.value !== confirmCtrl.value">
                            </div>
                            <div class="form-group formField">
                                <input type="button" (click)="onPrevious()" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Vorige">
                            </div>
                            <div class="text-right" style="display: block;">
                                <a style="cursor: pointer;" href="mailto:info@langua.be?subject=probleem">Problemen met registreren?</a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>