<li>
  <p *ngIf="item.wordTypeId === 19">
    <a routerLink="/verb/detail/{{item.index}}">
      <b [innerHtml]="item.singular | highlight:searchValue:'b':'text-primary':true"></b>
    </a>
    <ng-container *ngFor="let translation of item.translations;first as isFirst;last as isLast">
      <br *ngIf="isFirst === true">
      <a routerLink="/verb/detail/{{translation.index}}">{{translation.singular}}</a> ({{translation.wordType.name}})
      <ng-container *ngIf="isLast === false"> , </ng-container>
    </ng-container>
  </p>
  <p *ngIf="item.wordTypeId !== 19">
    <ng-container *ngIf="item.singular && item.singular.indexOf(searchValue) !== -1;else plural">
      <span [innerHtml]="item.singular | highlight:searchValue:'b':'text-primary':true"></span> (ev)
    </ng-container>
    <ng-template #plural>
      <ng-container *ngIf="item.plural && item.plural.indexOf(searchValue) !== -1">
        <span [innerHtml]="item.plural | highlight:searchValue:'b':'text-primary':true"></span> (mv)</ng-container>
    </ng-template>
    <span *ngFor="let translation of item.translations;first as isFirst;last as isLast">
        <br *ngIf="isFirst === true">
      <ng-container *ngIf="translation.singular !== ''; else plural2">{{translation.singular}}</ng-container>
      <ng-template #plural2>{{translation.plural}}</ng-template> ({{translation.wordType.name}})
      <ng-container *ngIf="isLast === false"> , </ng-container>
    </span>
  </p>
</li>