<li>
    <p *ngIf="item.wordTypeId === 19">
        <a routerLink="/verb/{{item.singular.split(' ').join('_')}}">
            <b [innerHtml]="item.singular | highlight:searchValue:'b':'text-primary':true"></b> </a>
        <span class="translation">
      <ng-container *ngFor="let translation of item.translations;last as isLast">
        <a (click)="searchService.setSearchValue(translation.singular, 2)">{{translation.singular}}</a> <a routerLink="/verb/{{translation.singular.split(' ').join('_')}}"><i class="fa fa-file-text-o"></i></a><span class="wordtype"> ({{translation.wordType.name}})</span>
        <ng-container *ngIf="isLast === false">, </ng-container>
      </ng-container>
    </span>
    </p>
    <p *ngIf="item.wordTypeId !== 19">
        <ng-container *ngIf="item.singular !== '';else plural">
            <b [innerHtml]="item.singular | highlight:searchValue:'b':'text-primary':true"></b> (ev)
            <span class="translation">
          <ng-container *ngFor="let translation of item.translations;last as isLast">
              <ng-container *ngIf="translation.singular !== ''">
                <a (click)="searchService.setSearchValue(translation.singular, 2)">{{translation.singular}}</a><span class="wordtype"> ({{translation.wordType.name}})</span>
                <ng-container *ngIf="isLast === false"> , </ng-container>
              </ng-container>
          </ng-container>
      </span>
        </ng-container>
        <ng-template #plural>
            <ng-container *ngIf="item.plural !== ''">
                <b [innerHtml]="item.plural | highlight:searchValue:'b':'text-primary':true"></b> (mv)
                <span class="translation">
            <ng-container *ngFor="let translation of item.translations;last as isLast">
                <ng-container *ngIf="translation.plural !== ''">
                  <a (click)="searchService.setSearchValue(translation.plural, 2)">{{translation.plural}}</a><span class="wordtype"> ({{translation.wordType.name}})</span>
                  <ng-container *ngIf="isLast === false"> , </ng-container>
                </ng-container>
            </ng-container>
        </span>
            </ng-container>
        </ng-template>
    </p>
</li>