.filterVerbs > button {
    border: 0px;
    background-color: transparent;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 10px 0px;
}

.filterVerbs a {
    padding: 10px 12px;
}

.filterVerbs a:hover {
    padding: 10px 0px 10px 24px;
}