<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="sectionTitle text-center">
                    <h2>
                        <span class="shape shape-left bg-color-4"></span>
                        <span>{{languageAdj[(languageId || memberService.getCurrentLanguageId()) - 1]}} werkwoorden</span>
                        <span class="shape shape-right bg-color-4"></span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-5 col-xs-12">
                <aside>
                    <div class="panel panel-default courseSidebar">
                        <div class="panel-heading bg-color-1 border-color-1">
                            <h3 class="panel-title">Search</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter Your Search" aria-describedby="basic-addon2">
                                <span class="input-group-addon" id="basic-addon2">
                                    <input class="btn btn-primary bg-color-1" type="submit" value="Search">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default courseSidebar">
                        <div class="panel-heading bg-color-2 border-color-2">
                            <h3 class="panel-title">Filter</h3>
                        </div>
                        <div class="panel-body">

                            <div class="filterVerbs dropdown color-2">
                                <button class="dropdown-toggle color-2" id="filterVerbType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{verbTypeOptionNames[verbType]}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="filterVerbType">
                                    <li class=""><a (click)="onChange(0)">{{verbTypeOptionNames[0]}}</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class=""><a (click)="onChange(1)">{{verbTypeOptionNames[1]}}</a></li>
                                    <li class=""><a (click)="onChange(2)">{{verbTypeOptionNames[2]}}</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="coursesCounter">
                        <div class="counterInner">
                            <h3>Next Course Start In</h3>
                            <div class="coursesCountStart clearfix">
                                <div id="courseTimer" class="courseCountTimer"></div>
                            </div>
                            <a href="#" class="btn btn-primary">buy course</a>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-md-9 col-sm-7 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tabCommon media-left">
                            <ul class="nav nav-tabs">
                                <li *ngFor="let fragment of fragments">
                                    <a style="padding:0px 9px 0px 8px;" data-toggle="tab" routerLink="/verblist/{{locale}}" fragment="{{fragment}}">{{fragment}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div *ngFor="let part of indexedVerbs" class="media courseList couresListPage" style="min-height: 100px;">
                    <a id="{{part.index}}" class="media-left border-color-1" href="course-single-left-sidebar.html">

                        <span class="sticker bg-color-1">{{part.index}}</span>
                    </a>
                    <div class="media-body" style="padding:15px 15px 15px 115px;">
                        <ng-container *ngFor="let verb of part.verbs;last as isLast">
                            <a routerLink="/verb/{{verb.singular.split(' ').join('_')}}">{{verb.singular}}</a>
                            <!-- TODO Tooltip met vertaling tonen? -->
                            <ng-container *ngIf="isLast === false">&nbsp; &bull; &nbsp;</ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>