<!-- BANNER -->
<section class="bannercontainer bannercontainerV1">
    <div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
            <ul>
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                    <img src="assets/img/Slider1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="slider-caption container">
                        <div class="tp-caption rs-caption-1 sft start" data-hoffset="0" data-y="200" data-speed="800" data-start="1000" data-easing="Back.easeInOut"
                            data-endspeed="300">
                            Vertalingen
                        </div>

                        <div class="tp-caption rs-caption-2 sft" data-hoffset="0" data-y="265" data-speed="1000" data-start="1500" data-easing="Power4.easeOut"
                            data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                            Online en interactief vertalingen trainen.
                            <br>Jij leert en Langua helpt je daarbij.
                        </div>
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 3">
                    <img src="assets/img/Slider2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="slider-caption container">
                        <div class="tp-caption rs-caption-1 sft start text-left" data-hoffset="0" data-y="200" data-x="right" data-speed="800" data-start="1000"
                            data-easing="Back.easeInOut" data-endspeed="300">
                            Vervoegingen
                        </div>

                        <div class="tp-caption rs-caption-2 sft text-left" data-hoffset="0" data-y="265" data-x="right" data-speed="1000" data-start="1500"
                            data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                            Makkelijke en moeilijke werkwoorden, regelmatige en
                            <br> onregelmatige vormen. Met Langua kan je het makkelijke oefenen!
                        </div>
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                    <img src="assets/img/Slider3.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="slider-caption container">
                        <div class="tp-caption rs-caption-1 sft start text-left" data-hoffset="0" data-x="center" data-y="200" data-speed="800" data-start="1000"
                            data-easing="Back.easeInOut" data-endspeed="300">
                            Woordenboeken
                        </div>

                        <div class="tp-caption rs-caption-2 sft text-left" data-hoffset="0" data-x="center" data-y="265" data-speed="1000" data-start="1500"
                            data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                            Woordenboeken, gramatica, lijst met vervoegingen, ...
                            <br> Hier kan je het snel terugvinden!
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- MAIN CONTENT -->
<section class="clearfix linkSection hidden-xs">
    <div class="sectionLinkArea hidden-xs scrolling">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <a href="#ourGallery" class="sectionLink bg-color-3" id="galleryLink">
                        <i class="fa fa-exchange linkIcon border-color-3" aria-hidden="true"></i>
                        <span class="linkText">Vertalingen</span>
                        <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#ourTeam" class="sectionLink bg-color-2" id="teamLink">
                        <i class="fa fa-calendar-o linkIcon border-color-2" aria-hidden="true"></i>
                        <span class="linkText">Vervoegingen</span>
                        <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#latestNews" class="sectionLink bg-color-4" id="newsLink">
                        <i class="fa fa-book linkIcon border-color-4" aria-hidden="true"></i>
                        <span class="linkText">Woordenboek</span>
                        <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#ourCourses" class="sectionLink bg-color-1" id="coursesLink">
                        <i class="fa fa-file-text-o linkIcon border-color-1" aria-hidden="true"></i>
                        <span class="linkText">Werkwoorden</span>
                        <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FEATURE SECTION -->
<section class="mainContent full-width clearfix featureSection">
    <div class="container">
        <div class="sectionTitle text-center">
            <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Wat hebben we je te bieden?</span>
                <span class="shape shape-right bg-color-4"></span>
            </h2>
        </div>

        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="media featuresContent">
                    <span class="media-left bg-color-3">
                        <i class="fa fa-exchange bg-color-3" aria-hidden="true"></i>
                    </span>
                    <div class="media-body">
                        <h3 class="media-heading color-3">Vertalingen</h3>
                        <p>Oefen online je vocabulaire. Van makkelijke tot heel moeilijke woorden. Met suggesties voor als je
                            twijfelt.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media featuresContent">
                    <span class="media-left bg-color-2">
                        <i class="fa fa-calendar-o bg-color-2" aria-hidden="true"></i>
                    </span>
                    <div class="media-body">
                        <h3 class="media-heading color-2">Vervoegingen</h3>
                        <p>Interactief alle vervoegingen trainen. Regelmatige en onregelmatige werkwoorden. Ze komen allemaal
                            aan bod.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media featuresContent">
                    <span class="media-left bg-color-4">
                        <i class="fa fa-book bg-color-4" aria-hidden="true"></i>
                    </span>
                    <div class="media-body">
                        <h3 class="media-heading color-4">Woordenboeken</h3>
                        <p>Woorden opzoeken gaat zoveel sneller met je computer. En ontbrekende woorden voegen we graag voor
                            je toe.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="media featuresContent">
                    <span class="media-left bg-color-1">
                        <i class="fa fa-file-text-o bg-color-1" aria-hidden="true"></i>
                    </span>
                    <div class="media-body">
                        <h3 class="media-heading color-1">Naslaglijsten</h3>
                        <p>Gedetaileerde lijst per werkwoord met een duidelijke weergaven van de vervoeginen.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media featuresContent">
                    <span class="media-left bg-color-5">
                        <i class="fa fa-gg bg-color-5" aria-hidden="true"></i>
                    </span>
                    <div class="media-body">
                        <h3 class="media-heading color-5">Hulp voor lesgevers</h3>
                        <p>Lesgevers kunnen cursisten groeperen en hen aangepaste vragen en testen voorschotelen.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media featuresContent">
                    <span class="media-left bg-color-6">
                        <i class="fa fa-shield fa-graduation-cap bg-color-6" aria-hidden="true"></i>
                    </span>
                    <div class="media-body">
                        <h3 class="media-heading color-6">Persoonlijke opvolging</h3>
                        <p>Geregistreerde leden kunnen een test pauseren en er op een later tijdstip aan verder werken.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PROMOTION SECTION-->
<section class="promotionWrapper" style="background-image: url(assets/img/Promotion.jpg);">
    <div class="container">
        <div class="promotionInfo">
            <h2>Vragen of suggesties?</h2>
            <p>Heeft u vragen over het gebruik van deze site of suggesties om het allemaal nog beter te maken.
                <br>
                <br>Aarzel dan niet en contacteer ons.
            </p>
            <a class="btn btn-primary" (click)="goToContactForm()">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>Contact</a>
        </div>
    </div>
</section>

<!-- WHITE SECTION -->
<!-- TODO Hier niet beter een component van maken die herbruikt kan worden in home page? -->
<section class="whiteSection full-width clearfix coursesSection" id="ourCourses">
    <div class="container">
        <div class="sectionTitle text-center">
            <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Beschikbare talen</span>
                <span class="shape shape-right bg-color-4"></span>
            </h2>
        </div>

        <app-quick-start></app-quick-start>
    </div>
</section>

<!-- COUNT UP SECTION-->
<section *ngIf="info" class="countUpSection" #counterUp>
    <div class="container">
        <div class="sectionTitleSmall">
            <h2>Wist je dat...</h2>
            <p>Het jarenlang gebruik levert de volgende indrukwekkende cijfers</p>
        </div>

        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <div class="text-center">
                    <div class="counter">{{ info.tenseCount }}</div>
                    <div class="counterInfo bg-color-1">Tijden</div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="text-center">
                    <div class="counter">{{ info.memberCount }}</div>
                    <div class="counterInfo bg-color-2">Gebruikers</div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="text-center">
                    <div class="counter">{{ info.wordCount }}</div>
                    <div class="counterInfo bg-color-3">Woorden</div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="text-center">
                    <div class="counter">{{ info.testCount }}</div>
                    <div class="counterInfo bg-color-4">Testen</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- LIGHT SECTION -->
<section class="lightSection full-width clearfix homeContactSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="homeContactContent" #contactForm>
                    <h2>Vragen of suggeties?</h2>
                    <p>Aarzel dan niet om ons te contacteren. Langua is een hoobyproject maar we reageren zo snel als mogelijk.</p>
                    <address>
                        <p>
                            <i class="fa fa-map-marker bg-color-1" aria-hidden="true"></i>Ergens in het mooie Vlaanderen ;-)
                        </p>
                        <p>
                            <i class="fa fa-facebook bg-color-4" aria-hidden="true"></i>TODO</p>
                        <p>
                            <i class="fa fa-envelope bg-color-2" aria-hidden="true"></i>
                            <a href="mailto:hello@example.com">info@langua.be</a>
                        </p>
                        <p>
                            <i class="fa fa-twitter bg-color-4" aria-hidden="true"></i>TODO</p>
                    </address>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div *ngIf="questionSend;Else contactFormTemplate" class="row">
                    <div class="col-sm-12">
                        <p>We hebben uw vraag goed ontvangen.</p>
                        <button type="button" class="btn btn-primary" (click)="questionSend = false">Terug</button>
                    </div>
                </div>
                <ng-template #contactFormTemplate>
                    <div class="homeContactContent">
                        <form (ngSubmit)="onSubmit(form)" #form=ngForm>
                            <div class="form-group">
                                <i class="fa fa-user"></i>
                                <input type="text" class="form-control border-color-1" name="name" ngModel id="exampleInputEmail1" placeholder="Jouw naam"
                                    required>
                            </div>
                            <div class="form-group">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input type="text" class="form-control border-color-2" name="email" ngModel id="exampleInputEmail2" placeholder="Je email adres"
                                    required email>
                            </div>
                            <div class="form-group">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                <textarea class="form-control border-color-4" name="message" ngModel placeholder="Je boodschap...." required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Verzenden</button>
                        </form>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</section>