<form (ngSubmit)="onSubmit(form)" #form="ngForm">

    <b>Taal</b>
    <div>
        <select name="fromLanguageId" [(ngModel)]="fromLanguageId" #fromLanguageIdSelect>
            <option *ngFor="let language of languages | async" [ngValue]="language.id">{{language.name}}</option>
        </select>

        <span> --> </span>

        <select name="toLanguageId" [(ngModel)]="toLanguageId" #toLanguageIdSelect (change)="onToLanguageChanged()">
            <option *ngFor="let language of languages | async" [ngValue]="language.id">{{language.name}}</option>
        </select>
    </div>
    <br>

    <b>Woordtype</b>
    <div *ngFor="let wordType of wordTypes | async">
        <!-- <input type="checkbox" name="wordType" (change)="onWordTypeChanged(wordType.id, $event.target.checked)"/><span>{{ wordType.name }}</span><br>  -->
        <label class="languaCheckbox">{{ wordType.name }}
            <input type="checkbox" name="wordType" (change)="onWordTypeChanged(wordType.id, $event.target.checked)">
            <span class="checkmark"></span> </label>
    </div>
    <br>

    <label class="languaRadio">Alle vragen <input type="radio" name="selection" [(ngModel)]="selection" [value]="0"> <span class="checkdot"></span> </label>
    <label class="languaRadio">Nooit eerder gemaakte vragen <input type="radio" name="selection" [(ngModel)]="selection" [value]="1"> <span class="checkdot"></span> </label>
    <label class="languaRadio">Ooit eerder gemaakte fouten <input type="radio" name="selection" [(ngModel)]="selection" [value]="2"> <span class="checkdot"></span> </label>
    <label class="languaRadio">Nooit goed beantwoorde vragen <input type="radio" name="selection" [(ngModel)]="selection" [value]="3"> <span class="checkdot"></span> </label>
    <!--
    <div>
        <input type="radio" name="selection" [(ngModel)]="selection" [value]="0"> alle vragen
        <input type="radio" name="selection" [(ngModel)]="selection" [value]="1"> nooit eerder gemaakte vragen
        <input type="radio" name="selection" [(ngModel)]="selection" [value]="2"> ooit eerder gemaakte fouten
        <input type="radio" name="selection" [(ngModel)]="selection" [value]="3"> nooit goed beantwoorde vragen
    </div>
    -->
    <br>

    <ng-container *ngIf="tests && tests.length">
        <b>Test hervatten</b>
        <div *ngFor="let test of tests">
            <span>Progress {{test.lastQuestion}} / {{test.numQuestions}} </span>
            <button class="btn btn-primary" (click)="onResume(test)">Hervatten</button>
            <hr>
        </div>
        <br>
    </ng-container>

    <button class="btn btn-primary" [disabled]="fromLanguageIdSelect.value === toLanguageIdSelect.value || wordTypeIds.length === 0">Starten
    </button>
</form>
