<section class="whiteSection full-width clearfix p-t-n">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sectionTitle text-center">
          <h2>
            <span class="shape shape-left bg-color-4"></span>
            <span>Tab Style 2</span>
            <span class="shape shape-right bg-color-4"></span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="tabCommon tabLeft">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#leftHome">View All</a></li>
            <li><a data-toggle="tab" href="#leftMenu1">Charity</a></li>
            <li><a data-toggle="tab" href="#leftMenu2">nature</a></li>
            <li><a data-toggle="tab" href="#leftMenu3">Children</a></li>
          </ul>
          <div class="tab-content">
            <div id="leftHome" class="tab-pane fade in active">
              <div class="media">
                <a class="media-left" href="#">
                  <img class="media-object img-rounded" src="img/home/about-school.png" alt="Image">
                </a>
                <div class="media-body">
                  <!--<h3 class="media-heading">Wellcome to kidz school</h3>-->
                  <app-create-test-translations *ngIf="testService.containsTestTranslation() === false"></app-create-test-translations>
                  <app-translation-question *ngIf="testService.containsTestTranslation() === true"></app-translation-question>
                  <!--<a href="#" class="btn btn-primary">read more</a>-->
                </div>
              </div>
            </div>
            <div id="leftMenu1" class="tab-pane fade">
              <div class="media">
                <a class="media-left" href="#">
                  <img class="media-object img-rounded" src="img/home/about-school.png" alt="Image">
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Wellcome to kidz school</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate.</p>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremque laudantium.</p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
              </div>
            </div>
            <div id="leftMenu2" class="tab-pane fade">
              <div class="media">
                <a class="media-left" href="#">
                  <img class="media-object img-rounded" src="img/home/about-school.png" alt="Image">
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Wellcome to kidz school</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate.</p>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremque laudantium.</p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
              </div>
            </div>
            <div id="leftMenu3" class="tab-pane fade">
              <div class="media">
                <a class="media-left" href="#">
                  <img class="media-object img-rounded" src="img/home/about-school.png" alt="Image">
                </a>
                <div class="media-body">
                  <h3 class="media-heading">Wellcome to kidz school</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate.</p>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu santium doloremque laudantium.</p>
                  <a href="#" class="btn btn-primary">read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>