<!-- BANNER -->
<section class="bannercontainer bannercontainerV1">
    <div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
            <ul>
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                    <img src="assets/img/Slider1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center"
                         data-bgrepeat="no-repeat">
                    <div class="slider-caption container">
                        <div class="tp-caption rs-caption-1 sft start"
                             data-hoffset="0"
                             data-y="200"
                             data-speed="800"
                             data-start="1000"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            Vertalingen
                        </div>

                        <div class="tp-caption rs-caption-2 sft"
                             data-hoffset="0"
                             data-y="265"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off">
                            Online en interactief vertalingen trainen. <br>Jij leert en Langua helpt je daarbij.
                        </div>
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 3">
                    <img src="assets/img/Slider2.jpg" alt="slidebg1" data-bgfit="cover"
                         data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="slider-caption container">
                        <div class="tp-caption rs-caption-1 sft start text-left"
                             data-hoffset="0"
                             data-y="200"
                             data-x="right"
                             data-speed="800"
                             data-start="1000"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            Vervoegingen
                        </div>

                        <div class="tp-caption rs-caption-2 sft text-left"
                             data-hoffset="0"
                             data-y="265"
                             data-x="right"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off">
                            Makkelijke en moeilijke werkwoorden, regelmatige en<br>
                            onregelmatige vormen.  Met Langua kan je het makkelijke oefenen!
                        </div>
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                    <img src="assets/img/Slider3.jpg" alt="slidebg1" data-bgfit="cover"
                         data-bgposition="center center" data-bgrepeat="no-repeat">
                    <div class="slider-caption container">
                        <div class="tp-caption rs-caption-1 sft start text-left"
                             data-hoffset="0"
                             data-x="center"
                             data-y="200"
                             data-speed="800"
                             data-start="1000"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            Woordenboeken
                        </div>

                        <div class="tp-caption rs-caption-2 sft text-left"
                             data-hoffset="0"
                             data-x="center"
                             data-y="265"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off">
                            Woordenboeken, gramatica, lijst met vervoegingen, ...<br>
                            Hier kan je het snel terugvinden!
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- MAIN CONTENT -->
<section class="clearfix linkSection hidden-xs">
    <div class="sectionLinkArea hidden-xs scrolling">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <a href="#ourCourses" class="sectionLink bg-color-1" id="coursesLink">
                        <i class="fa fa-file-text-o linkIcon border-color-1" aria-hidden="true"></i>
                        <span class="linkText">Courses</span>
                        <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#ourTeam" class="sectionLink bg-color-2" id="teamLink">
                        <i class="fa fa-calendar-o linkIcon border-color-2" aria-hidden="true"></i>
                        <span class="linkText">Vervoegingen</span>
                        <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#ourGallery" class="sectionLink bg-color-3" id="galleryLink">
                        <i class="fa fa-picture-o linkIcon border-color-3" aria-hidden="true"></i>
                        <span class="linkText">Gallery</span>
                        <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#latestNews" class="sectionLink bg-color-4" id="newsLink">
                        <i class="fa fa-files-o linkIcon border-color-4" aria-hidden="true"></i>
                        <span class="linkText">Woordenboek</span>
                        <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FEATURE SECTION -->
<section class="mainContent full-width clearfix featureSection">
    <div class="container">
        <div class="sectionTitle text-center">
            <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Our Features</span>
                <span class="shape shape-right bg-color-4"></span>
            </h2>
        </div>

        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="media featuresContent">
              <span class="media-left bg-color-1">
                <i class="fa fa-graduation-cap bg-color-1" aria-hidden="true"></i>
              </span>
                    <div class="media-body">
                        <h3 class="media-heading color-1">Experience Teachers</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media featuresContent">
              <span class="media-left bg-color-2">
                <i class="fa fa-leaf bg-color-2" aria-hidden="true"></i>
              </span>
                    <div class="media-body">
                        <h3 class="media-heading color-2">Physical Activity</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media featuresContent">
              <span class="media-left bg-color-3">
                <i class="fa fa-car bg-color-3" aria-hidden="true"></i>
              </span>
                    <div class="media-body">
                        <h3 class="media-heading color-3">Physical Activity</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media featuresContent">
              <span class="media-left bg-color-4">
                <i class="fa fa-cutlery bg-color-4" aria-hidden="true"></i>
              </span>
                    <div class="media-body">
                        <h3 class="media-heading color-4">Delicious Food</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media featuresContent">
              <span class="media-left bg-color-5">
                <i class="fa fa-heart bg-color-5" aria-hidden="true"></i>
              </span>
                    <div class="media-body">
                        <h3 class="media-heading color-5">Love &amp; Care</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media featuresContent">
              <span class="media-left bg-color-6">
                <i class="fa fa-shield bg-color-6" aria-hidden="true"></i>
              </span>
                    <div class="media-body">
                        <h3 class="media-heading color-6">Meny Sports</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PROMOTION SECTION-->
<section class="promotionWrapper" style="background-image: url(img/home/promotion-1.jpg);">
    <div class="container">
        <div class="promotionInfo">
            <h2>Need More Information?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod </p>
            <a href="contact-us.html" class="btn btn-primary"><i class="fa fa-phone" aria-hidden="true"></i>Contact</a>
        </div>
    </div>
</section>

<!-- WHITE SECTION -->
<section class="whiteSection full-width clearfix coursesSection" id="ourCourses">
    <div class="container">
        <div class="sectionTitle text-center">
            <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Our Courses</span>
                <span class="shape shape-right bg-color-4"></span>
            </h2>
        </div>

        <div class="row">
            <div class="col-sm-3 col-xs-12 block">
                <div class="thumbnail thumbnailContent">
                    <a href="course-single-left-sidebar.html"><img src="img/home/courses/course-1.jpg" alt="image"
                                                                   class="img-responsive"></a>
                    <div class="sticker bg-color-1">$50</div>
                    <div class="caption border-color-1">
                        <h3><a href="course-single-left-sidebar.html" class="color-1">Morbi scelerisque nibh.</a></h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
                        </ul>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. </p>
                        <ul class="list-inline btn-yellow">
                            <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket "
                                                                                     aria-hidden="true"></i>Add to Cart</a>
                            </li>
                            <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i
                                    class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 block">
                <div class="thumbnail thumbnailContent">
                    <a href="course-single-left-sidebar.html"><img src="img/home/courses/course-2.jpg" alt="image"
                                                                   class="img-responsive"></a>
                    <div class="sticker bg-color-2">$50</div>
                    <div class="caption border-color-2">
                        <h3><a href="course-single-left-sidebar.html" class="color-2">Phasellus convallis eros.</a></h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
                        </ul>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. </p>
                        <ul class="list-inline btn-green">
                            <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket "
                                                                                     aria-hidden="true"></i>Add to Cart</a>
                            </li>
                            <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i
                                    class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 block">
                <div class="thumbnail thumbnailContent">
                    <a href="course-single-left-sidebar.html"><img src="img/home/courses/course-3.jpg" alt="image"
                                                                   class="img-responsive"></a>
                    <div class="sticker bg-color-3">$50</div>
                    <div class="caption border-color-3">
                        <h3><a href="course-single-left-sidebar.html" class="color-3">Suspendisse a libero da.</a></h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
                        </ul>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. </p>
                        <ul class="list-inline btn-red">
                            <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket "
                                                                                     aria-hidden="true"></i>Add to Cart</a>
                            </li>
                            <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i
                                    class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 block">
                <div class="thumbnail thumbnailContent">
                    <a href="course-single-left-sidebar.html"><img src="img/home/courses/course-4.jpg" alt="image"
                                                                   class="img-responsive"></a>
                    <div class="sticker bg-color-4">$50</div>
                    <div class="caption border-color-4">
                        <h3><a href="course-single-left-sidebar.html" class="color-4">Aenean cursus urna nec.</a></h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
                        </ul>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. </p>
                        <ul class="list-inline btn-sky">
                            <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket "
                                                                                     aria-hidden="true"></i>Add to Cart</a>
                            </li>
                            <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i
                                    class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- COLOR SECTION -->
<section class="colorSection full-width clearfix bg-color-5 teamSection" id="ourTeam">
    <div class="container">
        <div class="sectionTitle text-center alt">
            <h2>
                <span class="shape shape-left bg-color-3"></span>
                <span>Meet Our Teachers</span>
                <span class="shape shape-right bg-color-3"></span>
            </h2>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="owl-carousel teamSlider">
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="img/home/team/team-1.jpg" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="teachers-details.html">Amanda Smith</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="img/home/team/team-2.jpg" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="img/home/team/team-3.jpg" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="img/home/team/team-4.jpg" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="img/home/team/team-1.jpg" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="img/home/team/team-2.jpg" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="img/home/team/team-3.jpg" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="teamContent">
                            <div class="teamImage">
                                <img src="img/home/team/team-4.jpg" alt="img" class="img-circle">
                                <div class="maskingContent">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="teamInfo">
                                <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                                <p>English Teacher</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- WHITE SECTION -->
<section class="whiteSection full-width clearfix homeGallerySection" id="ourGallery">
    <div class="container">
        <div class="sectionTitle text-center">
            <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Our Gallery</span>
                <span class="shape shape-right bg-color-4"></span>
            </h2>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="filter-container isotopeFilters">
                    <ul class="list-inline filter">
                        <li class="active"><a href="#" data-filter="*">View All</a></li>
                        <li><a href="#" data-filter=".charity">Charity</a></li>
                        <li><a href="#" data-filter=".nature">nature</a></li>
                        <li><a href="#" data-filter=".children">children</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row isotopeContainer" id="container">
            <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector charity">
                <article class="">
                    <figure>
                        <img src="img/home/home_gallery/gallery_sm_1.jpg" alt="image" class="img-rounded">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <a class="fancybox-pop" rel="portfolio-1" href="img/home/home_gallery/gallery_lg_1.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector nature">
                <article class="">
                    <figure>
                        <img src="img/home/home_gallery/gallery_sm_2.jpg" alt="image" class="img-rounded">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <a class="fancybox-pop" rel="portfolio-1" href="img/home/home_gallery/gallery_lg_2.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector nature">
                <article class="">
                    <figure>
                        <img src="img/home/home_gallery/gallery_sm_3.jpg" alt="image" class="img-rounded">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <a class="fancybox-pop" rel="portfolio-1" href="img/home/home_gallery/gallery_lg_3.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector charity">
                <article class="">
                    <figure>
                        <img src="img/home/home_gallery/gallery_sm_4.jpg" alt="image" class="img-rounded">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <a class="fancybox-pop" rel="portfolio-1" href="img/home/home_gallery/gallery_lg_4.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector nature">
                <article class="">
                    <figure>
                        <img src="img/home/home_gallery/gallery_sm_5.jpg" alt="image" class="img-rounded">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <a class="fancybox-pop" rel="portfolio-1" href="img/home/home_gallery/gallery_lg_5.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector children">
                <article class="">
                    <figure>
                        <img src="img/home/home_gallery/gallery_sm_6.jpg" alt="image" class="img-rounded">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <a class="fancybox-pop" rel="portfolio-1" href="img/home/home_gallery/gallery_lg_6.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector children">
                <article class="">
                    <figure>
                        <img src="img/home/home_gallery/gallery_sm_7.jpg" alt="image" class="img-rounded">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <a class="fancybox-pop" rel="portfolio-1" href="img/home/home_gallery/gallery_lg_7.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 isotopeSelector children">
                <article class="">
                    <figure>
                        <img src="img/home/home_gallery/gallery_sm_8.jpg" alt="image" class="img-rounded">
                        <div class="overlay-background">
                            <div class="inner"></div>
                        </div>
                        <div class="overlay">
                            <a class="fancybox-pop" rel="portfolio-1" href="img/home/home_gallery/gallery_lg_8.jpg">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </figure>
                </article>
            </div>
        </div>

        <div class="btnArea">
            <a href="photo-gallery.html" class="btn btn-primary">View more</a>
        </div>

    </div>
</section>

<!-- COUNT UP SECTION-->
<section class="countUpSection">
    <div class="container">
        <div class="sectionTitleSmall">
            <h2>Some Fun Facts</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod</p>
        </div>

        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <div class="text-center">
                    <div class="counter">179</div>
                    <div class="counterInfo bg-color-1">Events Held</div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="text-center">
                    <div class="counter">579</div>
                    <div class="counterInfo bg-color-2">Happy Funs</div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="text-center">
                    <div class="counter">279</div>
                    <div class="counterInfo bg-color-3">happy clients</div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="text-center">
                    <div class="counter">479</div>
                    <div class="counterInfo bg-color-4">hours support</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- WHITE SECTION -->
<section class="whiteSection full-width clearfix newsSection" id="latestNews">
    <div class="container">
        <div class="sectionTitle text-center">
            <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Latest News</span>
                <span class="shape shape-right bg-color-4"></span>
            </h2>
        </div>

        <div class="row">
            <div class="col-sm-4 col-xs-12 block">
                <div class="thumbnail thumbnailContent">
                    <a href="single-blog-left-sidebar.html"><img src="img/home/news/news-1.jpg" alt="image"
                                                                 class="img-responsive"></a>
                    <div class="sticker-round bg-color-1">10 <br>July</div>
                    <div class="caption border-color-1">
                        <h3><a href="single-blog-left-sidebar.html" class="color-1">The standard chunk of Lorem.</a>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="single-blog-left-sidebar.html"><i class="fa fa-user" aria-hidden="true"></i>Jone
                                Doe</a></li>
                            <li><a href="single-blog-left-sidebar.html"><i class="fa fa-comments-o"
                                                                           aria-hidden="true"></i>4 Comments</a></li>
                        </ul>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classi cal Latin literature. </p>
                        <ul class="list-inline btn-yellow">
                            <li><a href="single-blog-left-sidebar.html" class="btn btn-link"><i
                                    class="fa fa-angle-double-right" aria-hidden="true"></i> Read More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 block">
                <div class="thumbnail thumbnailContent">
                    <a href="single-blog-left-sidebar.html"><img src="img/home/news/news-2.jpg" alt="image"
                                                                 class="img-responsive"></a>
                    <div class="sticker-round bg-color-2">10 <br>July</div>
                    <div class="caption border-color-2">
                        <h3><a href="single-blog-left-sidebar.html" class="color-2">Vestibulum congue massa vitae.</a>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="single-blog-left-sidebar.html"><i class="fa fa-user" aria-hidden="true"></i>Jone
                                Doe</a></li>
                            <li><a href="single-blog-left-sidebar.html"><i class="fa fa-comments-o"
                                                                           aria-hidden="true"></i>4 Comments</a></li>
                        </ul>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classi cal Latin literature. </p>
                        <ul class="list-inline btn-green">
                            <li><a href="single-blog-left-sidebar.html" class="btn btn-link"><i
                                    class="fa fa-angle-double-right" aria-hidden="true"></i> Read More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 block">
                <div class="thumbnail thumbnailContent">
                    <a href="single-blog-left-sidebar.html"><img src="img/home/news/news-3.jpg" alt="image"
                                                                 class="img-responsive"></a>
                    <div class="sticker-round bg-color-3">10 <br>July</div>
                    <div class="caption border-color-3">
                        <h3><a href="single-blog-left-sidebar.html" class="color-3">Curabitur ac nulla sodales
                            risus.</a></h3>
                        <ul class="list-inline">
                            <li><a href="single-blog-left-sidebar.html"><i class="fa fa-user" aria-hidden="true"></i>Jone
                                Doe</a></li>
                            <li><a href="single-blog-left-sidebar.html"><i class="fa fa-comments-o"
                                                                           aria-hidden="true"></i>4 Comments</a></li>
                        </ul>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classi cal Latin literature. </p>
                        <ul class="list-inline btn-red">
                            <li><a href="single-blog-left-sidebar.html" class="btn btn-link"><i
                                    class="fa fa-angle-double-right" aria-hidden="true"></i> Read More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="btnArea">
            <a href="blog-grid.html" class="btn btn-primary">View more</a>
        </div>

    </div>
</section>

<!-- LIGHT SECTION -->
<section class="lightSection full-width clearfix homeContactSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="homeContactContent">
                    <h2>Our Address</h2>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.</p>
                    <address>
                        <p><i class="fa fa-map-marker bg-color-1" aria-hidden="true"></i>9/4/C Ring Road,Garden Street
                            Dhaka,Bangladesh-1200</p>
                        <p><i class="fa fa-envelope bg-color-2" aria-hidden="true"></i><a
                                href="mailto:hello@example.com">hello@example.com</a></p>
                        <p><i class="fa fa-phone bg-color-4" aria-hidden="true"></i>3333 222 1111</p>
                    </address>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="homeContactContent">
                    <form action="#" method="POST" role="form">
                        <div class="form-group">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control border-color-1" id="exampleInputEmail1"
                                   placeholder="First name">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input type="text" class="form-control border-color-2" id="exampleInputEmail2"
                                   placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <textarea class="form-control border-color-4" placeholder="Write message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container"><h1>Bootstrap 3 DataTables</h1>
    <table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Salary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>$320,800</td>
        </tr>
        <tr>
            <td>Garrett Winters</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>$170,750</td>
        </tr>
        <tr>
            <td>Ashton Cox</td>
            <td>Junior Technical Author</td>
            <td>San Francisco</td>
            <td>$86,000</td>
        </tr>
        <tr>
            <td>Cedric Kelly</td>
            <td>Senior Javascript Developer</td>
            <td>Edinburgh</td>
            <td>$433,060</td>
        </tr>
        <tr>
            <td>Airi Satou</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>$162,700</td>
        </tr>
        <tr>
            <td>Brielle Williamson</td>
            <td>Integration Specialist</td>
            <td>New York</td>
            <td>$372,000</td>
        </tr>
        <tr>
            <td>Herrod Chandler</td>
            <td>Sales Assistant</td>
            <td>San Francisco</td>
            <td>$137,500</td>
        </tr>
        <tr>
            <td>Rhona Davidson</td>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>$327,900</td>
        </tr>
        <tr>
            <td>Colleen Hurst</td>
            <td>Javascript Developer</td>
            <td>San Francisco</td>
            <td>$205,500</td>
        </tr>
        <tr>
            <td>Sonya Frost</td>
            <td>Software Engineer</td>
            <td>Edinburgh</td>
            <td>$103,600</td>
        </tr>
        <tr>
            <td>Jena Gaines</td>
            <td>Office Manager</td>
            <td>London</td>
            <td>$90,560</td>
        </tr>
        <tr>
            <td>Quinn Flynn</td>
            <td>Support Lead</td>
            <td>Edinburgh</td>
            <td>$342,000</td>
        </tr>
        <tr>
            <td>Charde Marshall</td>
            <td>Regional Director</td>
            <td>San Francisco</td>
            <td>$470,600</td>
        </tr>
        <tr>
            <td>Haley Kennedy</td>
            <td>Senior Marketing Designer</td>
            <td>London</td>
            <td>$313,500</td>
        </tr>
        <tr>
            <td>Tatyana Fitzpatrick</td>
            <td>Regional Director</td>
            <td>London</td>
            <td>$385,750</td>
        </tr>
        <tr>
            <td>Michael Silva</td>
            <td>Marketing Designer</td>
            <td>London</td>
            <td>$198,500</td>
        </tr>
        <tr>
            <td>Paul Byrd</td>
            <td>Chief Financial Officer (CFO)</td>
            <td>New York</td>
            <td>$725,000</td>
        </tr>
        <tr>
            <td>Gloria Little</td>
            <td>Systems Administrator</td>
            <td>New York</td>
            <td>$237,500</td>
        </tr>
        <tr>
            <td>Bradley Greer</td>
            <td>Software Engineer</td>
            <td>London</td>
            <td>$132,000</td>
        </tr>
        <tr>
            <td>Dai Rios</td>
            <td>Personnel Lead</td>
            <td>Edinburgh</td>
            <td>$217,500</td>
        </tr>
        <tr>
            <td>Jenette Caldwell</td>
            <td>Development Lead</td>
            <td>New York</td>
            <td>$345,000</td>
        </tr>
        <tr>
            <td>Yuri Berry</td>
            <td>Chief Marketing Officer (CMO)</td>
            <td>New York</td>
            <td>$675,000</td>
        </tr>
        <tr>
            <td>Caesar Vance</td>
            <td>Pre-Sales Support</td>
            <td>New York</td>
            <td>$106,450</td>
        </tr>
        <tr>
            <td>Doris Wilder</td>
            <td>Sales Assistant</td>
            <td>Sidney</td>
            <td>$85,600</td>
        </tr>
        <tr>
            <td>Angelica Ramos</td>
            <td>Chief Executive Officer (CEO)</td>
            <td>London</td>
            <td>$1,200,000</td>
        </tr>
        <tr>
            <td>Gavin Joyce</td>
            <td>Developer</td>
            <td>Edinburgh</td>
            <td>$92,575</td>
        </tr>
        <tr>
            <td>Jennifer Chang</td>
            <td>Regional Director</td>
            <td>Singapore</td>
            <td>$357,650</td>
        </tr>
        <tr>
            <td>Brenden Wagner</td>
            <td>Software Engineer</td>
            <td>San Francisco</td>
            <td>$206,850</td>
        </tr>
        <tr>
            <td>Fiona Green</td>
            <td>Chief Operating Officer (COO)</td>
            <td>San Francisco</td>
            <td>$850,000</td>
        </tr>
        <tr>
            <td>Shou Itou</td>
            <td>Regional Marketing</td>
            <td>Tokyo</td>
            <td>$163,000</td>
        </tr>
        <tr>
            <td>Michelle House</td>
            <td>Integration Specialist</td>
            <td>Sidney</td>
            <td>$95,400</td>
        </tr>
        <tr>
            <td>Suki Burks</td>
            <td>Developer</td>
            <td>London</td>
            <td>$114,500</td>
        </tr>
        <tr>
            <td>Prescott Bartlett</td>
            <td>Technical Author</td>
            <td>London</td>
            <td>$145,000</td>
        </tr>
        <tr>
            <td>Gavin Cortez</td>
            <td>Team Leader</td>
            <td>San Francisco</td>
            <td>$235,500</td>
        </tr>
        <tr>
            <td>Martena Mccray</td>
            <td>Post-Sales support</td>
            <td>Edinburgh</td>
            <td>$324,050</td>
        </tr>
        <tr>
            <td>Unity Butler</td>
            <td>Marketing Designer</td>
            <td>San Francisco</td>
            <td>$85,675</td>
        </tr>
        <tr>
            <td>Howard Hatfield</td>
            <td>Office Manager</td>
            <td>San Francisco</td>
            <td>$164,500</td>
        </tr>
        <tr>
            <td>Hope Fuentes</td>
            <td>Secretary</td>
            <td>San Francisco</td>
            <td>$109,850</td>
        </tr>
        <tr>
            <td>Vivian Harrell</td>
            <td>Financial Controller</td>
            <td>San Francisco</td>
            <td>$452,500</td>
        </tr>
        <tr>
            <td>Timothy Mooney</td>
            <td>Office Manager</td>
            <td>London</td>
            <td>$136,200</td>
        </tr>
        <tr>
            <td>Jackson Bradshaw</td>
            <td>Director</td>
            <td>New York</td>
            <td>$645,750</td>
        </tr>
        <tr>
            <td>Olivia Liang</td>
            <td>Support Engineer</td>
            <td>Singapore</td>
            <td>$234,500</td>
        </tr>
        <tr>
            <td>Bruno Nash</td>
            <td>Software Engineer</td>
            <td>London</td>
            <td>$163,500</td>
        </tr>
        <tr>
            <td>Sakura Yamamoto</td>
            <td>Support Engineer</td>
            <td>Tokyo</td>
            <td>$139,575</td>
        </tr>
        <tr>
            <td>Thor Walton</td>
            <td>Developer</td>
            <td>New York</td>
            <td>$98,540</td>
        </tr>
        <tr>
            <td>Finn Camacho</td>
            <td>Support Engineer</td>
            <td>San Francisco</td>
            <td>$87,500</td>
        </tr>
        <tr>
            <td>Serge Baldwin</td>
            <td>Data Coordinator</td>
            <td>Singapore</td>
            <td>$138,575</td>
        </tr>
        <tr>
            <td>Zenaida Frank</td>
            <td>Software Engineer</td>
            <td>New York</td>
            <td>$125,250</td>
        </tr>
        <tr>
            <td>Zorita Serrano</td>
            <td>Software Engineer</td>
            <td>San Francisco</td>
            <td>$115,000</td>
        </tr>
        <tr>
            <td>Jennifer Acosta</td>
            <td>Junior Javascript Developer</td>
            <td>Edinburgh</td>
            <td>$75,650</td>
        </tr>
        <tr>
            <td>Cara Stevens</td>
            <td>Sales Assistant</td>
            <td>New York</td>
            <td>$145,600</td>
        </tr>
        <tr>
            <td>Hermione Butler</td>
            <td>Regional Director</td>
            <td>London</td>
            <td>$356,250</td>
        </tr>
        <tr>
            <td>Lael Greer</td>
            <td>Systems Administrator</td>
            <td>London</td>
            <td>$103,500</td>
        </tr>
        <tr>
            <td>Jonas Alexander</td>
            <td>Developer</td>
            <td>San Francisco</td>
            <td>$86,500</td>
        </tr>
        <tr>
            <td>Shad Decker</td>
            <td>Regional Director</td>
            <td>Edinburgh</td>
            <td>$183,000</td>
        </tr>
        <tr>
            <td>Michael Bruce</td>
            <td>Javascript Developer</td>
            <td>Singapore</td>
            <td>$183,000</td>
        </tr>
        <tr>
            <td>Donna Snider</td>
            <td>Customer Support</td>
            <td>New York</td>
            <td>$112,000</td>
        </tr>
        </tbody>
    </table>
</div>