<section class="pageTitleSection">
    <div class="container">
      <div class="pageTitleInfo">
        <h2>About us</h2>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">About us</li>
        </ol>
      </div>
    </div>
  </section>

<section class="mainContent full-width clearfix aboutSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6 col-xs-12">
          <img src="img/about_us/main.jpg" alt="image" class="img-responsive img-rounded">
        </div>
        <div class="col-sm-6 col-sm-pull-6 col-xs-12">
          <div class="schoolInfo">
            <h2>Wellcome to kidz school</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="color-3">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            <ul class="list-unstyled para-list">
              <li><i class="fa fa-check" aria-hidden="true"></i> Vestibulum iaculis quam ac libero volutpat placerat.</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Phasellus sit amet risus fringilla, aliquet lacus vel, suscipit lorem.</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Etiam suscipit velit et tellus bibendum interdum.</li>
            </ul>
            <a href="about_us.html" class="btn btn-primary">read more</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- COLOR SECTION -->
  <section class="colorSection full-width clearfix bg-color-4 servicesSection">
    <div class="container">
      <div class="sectionTitle text-center alt">
        <h2>
          <span class="shape shape-left bg-color-3"></span>
          <span>Our Services</span>
          <span class="shape shape-right bg-color-3"></span>
        </h2>
      </div>

      <div class="row">
        <div class="col-sm-4 col-sm-offset-2 col-xs-12">
          <div class="media servicesContent rightAlign">
            <a class="media-left" href="service-details.html">
              <i class="fa fa-cutlery bg-color-4" aria-hidden="true"></i>
            </a>
            <div class="media-body">
              <h3 class="media-heading">Delicious Food</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
          <div class="media servicesContent rightAlign">
            <a class="media-left" href="service-details.html">
              <i class="fa fa-heart bg-color-4" aria-hidden="true"></i>
            </a>
            <div class="media-body">
              <h3 class="media-heading">Love &amp; Care</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
          <div class="media servicesContent rightAlign">
            <a class="media-left" href="service-details.html">
              <i class="fa fa-shield bg-color-4" aria-hidden="true"></i>
            </a>
            <div class="media-body">
              <h3 class="media-heading">Meny Sports</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="media servicesContent">
            <a class="media-left" href="service-details.html">
              <i class="fa fa-car bg-color-4" aria-hidden="true"></i>
            </a>
            <div class="media-body">
              <h3 class="media-heading">Transportation</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
          <div class="media servicesContent">
            <a class="media-left" href="service-details.html">
              <i class="fa fa-graduation-cap bg-color-4" aria-hidden="true"></i>
            </a>
            <div class="media-body">
              <h3 class="media-heading">Experience Teachers</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
          <div class="media servicesContent">
            <a class="media-left" href="service-details.html">
              <i class="fa fa-leaf bg-color-4" aria-hidden="true"></i>
            </a>
            <div class="media-body">
              <h3 class="media-heading">Physical Activity</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- WHITE SECTION -->
  <section class="whiteSection full-width clearfix">
    <div class="container">
      <div class="sectionTitle text-center">
        <h2>
          <span class="shape shape-left bg-color-4"></span>
          <span>Meet Our Teachers</span>
          <span class="shape shape-right bg-color-4"></span>
        </h2>
      </div>

      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div class="teamContent">
            <div class="teamImage">
            <img src="img/home/team/team-1.jpg" alt="img" class="img-circle img-responsive">
              <div class="maskingContent">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="teamInfo teamTeacher">
              <h3><a href="teachers-details.html">Amanda Stone</a></h3>
              <p>English Teacher</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="teamContent">
            <div class="teamImage">
            <img src="img/home/team/team-2.jpg" alt="img" class="img-circle img-responsive">
              <div class="maskingContent">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="teamInfo teamTeacher">
              <h3><a href="teachers-details.html">Amanda Stone</a></h3>
              <p>English Teacher</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="teamContent">
            <div class="teamImage">
            <img src="img/home/team/team-3.jpg" alt="img" class="img-circle img-responsive">
              <div class="maskingContent">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="teamInfo teamTeacher">
              <h3><a href="teachers-details.html">Amanda Stone</a></h3>
              <p>English Teacher</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="teamContent">
            <div class="teamImage">
            <img src="img/home/team/team-4.jpg" alt="img" class="img-circle img-responsive">
              <div class="maskingContent">
                <ul class="list-inline">
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="teamInfo teamTeacher">
              <h3><a href="teachers-details.html">Amanda Stone</a></h3>
              <p>English Teacher</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>