<section class="mainContent full-width clearfix aboutSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6 col-xs-12 alignRight">
                <img src="./assets/img/languages.png" alt="Languages" class="img-rounded">
            </div>
            <div class="col-sm-6 col-sm-pull-6 col-xs-12">
                <div class="schoolInfo">
                    <h2>Welkom bij Langua</h2>
                    <p>Op deze site kan u op een toffe manier de vervoegingen en vertalingen oefenen voor verschillende
                        talen: Spaans, Frans & Engels.</p>
                    <p>Klik rechts bovenaan op 'Inloggen' om u aan te melden of te registreren. Of kies onderaan een
                        taal om snel te starten.</p>
                    <p class="color-3">Bent u nog niet geregistreerd? Klik dan hier om te zien waarom u dat best zou
                        doen. Het kan GRATIS en heeft niets dan voordelen...</p>
                    <ul class="list-unstyled para-list">
                        <li><i class="fa fa-check" aria-hidden="true"></i> Regelmatige en onregelmatige vervoegingen.
                        </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Alle veel gebruikte woorden, maar ook minder
                            courante woorden.
                        </li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Gratis woordenboeken.</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Handige lijsten met een overzicht van de
                            vervoegingen.
                        </li>
                    </ul>
                    <a href="about_us.html" class="btn btn-primary">Lees meer</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="whiteSection full-width clearfix coursesSection" id="ourCourses">
    <div class="container">
        <div class="sectionTitle text-center">
            <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Snel starten</span>
                <span class="shape shape-right bg-color-4"></span>
            </h2>
        </div>

        <div class="row">
            <div class="col-sm-4 col-xs-12 block">
                <div class="thumbnail thumbnailContent">
                    <a href="course-single-left-sidebar.html"><img src="assets/img/Spanish-Language.jpg"
                                                                   alt="Hablas Espagñol?"
                                                                   class="img-responsive"></a>
                    <div class="caption border-color-1">
                        <h3 class="color-1">Spaans / Espagñol</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-book" aria-hidden="true"></i>xxx Woorden</li>
                            <li><i class="fa fa-file-text-o" aria-hidden="true"></i>xxx Werkwoorden</li>
                            <li><i class="fa fa-calendar-o" aria-hidden="true"></i>xxx Vervoegingen</li>
                        </ul>
                        <p><br>Spaans (of Castilliaans) is na het Mandarijn Chinees de meest gesproken taal ter wereld.<br> Altijd handig dus!</p>
                        <ul class="list-inline btn-red">
                            <li><a href="cart-page.html" class="btn btn-vertalen"><i class="fa fa-exchange"
                                                                                     aria-hidden="true"></i>Vertalen</a>
                            </li>
                            <li><a href="cart-page.html" class="btn btn-vervoegen"><i class="fa fa-calendar-o"
                                                                                     aria-hidden="true"></i>Vervoegen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 block">
                <div class="thumbnail thumbnailContent">
                    <a href="course-single-left-sidebar.html"><img src="assets/img/English-Language.jpg"
                                                                   alt="Do you speak English?"
                                                                   class="img-responsive"></a>
                    <div class="caption border-color-3">
                        <h3 class="color-3">Engels / English</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-book" aria-hidden="true"></i>xxx Woorden</li>
                            <li><i class="fa fa-file-text-o" aria-hidden="true"></i>xxx Werkwoorden</li>
                            <li><i class="fa fa-calendar-o" aria-hidden="true"></i>xxx Vervoegingen</li>
                        </ul>
                        <p><br>Engels is momenteel zonder twijfel de belangrijkste internationale taal en een vereiste in vele vakgebieden.  Let's go for it! </p>
                        <ul class="list-inline btn-red">
                            <li><a href="cart-page.html" class="btn btn-vertalen"><i class="fa fa-exchange"
                                                                                    aria-hidden="true"></i>Vertalen</a>
                            </li>
                            <li><a href="cart-page.html" class="btn btn-vervoegen"><i class="fa fa-calendar-o"
                                                                                     aria-hidden="true"></i>Vervoegen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 block">
                <div class="thumbnail thumbnailContent">
                    <a href="course-single-left-sidebar.html"><img src="assets/img/French-Language.jpg"
                                                                   alt="Parlez-vous Français?"
                                                                   class="img-responsive"></a>
                    <div class="caption border-color-4">
                        <h3 class="color-4">Frans / Français</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-book" aria-hidden="true"></i>xxx Woorden</li>
                            <li><i class="fa fa-file-text-o" aria-hidden="true"></i>xxx Werkwoorden</li>
                            <li><i class="fa fa-calendar-o" aria-hidden="true"></i>xxx Vervoegingen</li>
                        </ul>
                        <p><br>Frans is de officiële taal in tientallen landen wereldwijd.  Wordt jij één van de 75 miljoen gebruikers van deze taal?</p>
                        <ul class="list-inline btn-red">
                            <li><a href="cart-page.html" class="btn btn-vertalen"><i class="fa fa-exchange"
                                                                                    aria-hidden="true"></i>Vertalen</a>
                            </li>
                            <li><a href="cart-page.html" class="btn btn-vervoegen"><i class="fa fa-calendar-o"
                                                                                     aria-hidden="true"></i>Vervoegen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- COLOR SECTION -->
<section class="colorSection full-width clearfix bg-color-4 servicesSection">
    <div class="container">
        <div class="sectionTitle text-center alt">
            <h2>
                <span class="shape shape-left bg-color-3"></span>
                <span>Our Services</span>
                <span class="shape shape-right bg-color-3"></span>
            </h2>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-2 col-xs-12">
                <div class="media servicesContent rightAlign">
                    <a class="media-left" href="service-details.html">
                        <i class="fa fa-cutlery bg-color-4" aria-hidden="true"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Delicious Food</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt.</p>
                    </div>
                </div>
                <div class="media servicesContent rightAlign">
                    <a class="media-left" href="service-details.html">
                        <i class="fa fa-heart bg-color-4" aria-hidden="true"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Love &amp; Care</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt.</p>
                    </div>
                </div>
                <div class="media servicesContent rightAlign">
                    <a class="media-left" href="service-details.html">
                        <i class="fa fa-shield bg-color-4" aria-hidden="true"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Meny Sports</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media servicesContent">
                    <a class="media-left" href="service-details.html">
                        <i class="fa fa-car bg-color-4" aria-hidden="true"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Transportation</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt.</p>
                    </div>
                </div>
                <div class="media servicesContent">
                    <a class="media-left" href="service-details.html">
                        <i class="fa fa-graduation-cap bg-color-4" aria-hidden="true"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Experience Teachers</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt.</p>
                    </div>
                </div>
                <div class="media servicesContent">
                    <a class="media-left" href="service-details.html">
                        <i class="fa fa-leaf bg-color-4" aria-hidden="true"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Physical Activity</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- WHITE SECTION -->
<section class="whiteSection full-width clearfix">
    <div class="container">
        <div class="sectionTitle text-center">
            <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Meet Our Teachers</span>
                <span class="shape shape-right bg-color-4"></span>
            </h2>
        </div>

        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <div class="teamContent">
                    <div class="teamImage">
                        <img src="img/home/team/team-1.jpg" alt="img" class="img-circle img-responsive">
                        <div class="maskingContent">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="teamInfo teamTeacher">
                        <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                        <p>English Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="teamContent">
                    <div class="teamImage">
                        <img src="img/home/team/team-2.jpg" alt="img" class="img-circle img-responsive">
                        <div class="maskingContent">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="teamInfo teamTeacher">
                        <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                        <p>English Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="teamContent">
                    <div class="teamImage">
                        <img src="img/home/team/team-3.jpg" alt="img" class="img-circle img-responsive">
                        <div class="maskingContent">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="teamInfo teamTeacher">
                        <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                        <p>English Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="teamContent">
                    <div class="teamImage">
                        <img src="img/home/team/team-4.jpg" alt="img" class="img-circle img-responsive">
                        <div class="maskingContent">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="teamInfo teamTeacher">
                        <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                        <p>English Teacher</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>