<p *ngIf="question">
    <ng-container *ngFor="let translation of question.word.translations, let last=last">
        <ng-container *ngIf="question.form === 'S' && translation.singular !==''">
            (ev) {{translation.articleSingular}} {{translation.singular}}
            <ng-container *ngIf="!last">;</ng-container>
        </ng-container>
        <ng-container *ngIf="question.form === 'P' && translation.plural !==''">
            (mv) {{translation.articlePlural}} {{translation.plural}}
            <ng-container *ngIf="!last">;</ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="question.word.hint !== ''">
        ; tip: {{question.word.hint}}
    </ng-container>
    <ng-container *ngIf="valid === '';else submitted">
        <input type="text" [(ngModel)]="answer" (keydown)="onKeyDown($event)">
    </ng-container>
    <ng-template #submitted>
<p>{{valid}}</p>
<p *ngIf="valid === 'fout'">Jou antwoord was {{answer}}. het juiste antwoord was {{correction}}.</p>
</ng-template>
</p>
<p>{{testService.test.lastQuestion + ((valid === '') ? 1 : 0) }} / {{testService.test.numQuestions}} {{ testService.test.validAnswers / testService.test.lastQuestion | percent }}</p>
<button *ngIf="valid === ''" class="btn btn-primary" (click)="onSubmit()"
        [disabled]="answer === ''">Ok</button>
<button *ngIf="valid === 'fout'" class="btn btn-primary" (click)="onNext()">{{(testService.test.lastQuestion === testService.test.numQuestions) ? 'Toon resultaten' : 'Volgende vraag'}}</button>