<section class="pageTitleSection">
  <div class="container">
   <div class="pageTitleInfo">
      <h2>Testimonial</h2>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Testimonial</li>
      </ol>
    </div>
  </div>
</section>

<section class="mainContent full-width clearfix testimonialArea">
  <div class="container">
    <div class="row testimonial-grid">
      <div class="col-sm-4 col-xs-12">
        <div class="testimonialContent  bg-color-1">
          <span class="userSign border-color-1"><i class="fa fa-quote-left color-1" aria-hidden="true"></i></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="testimonialContent  bg-color-2">
          <span class="userSign border-color-2"><i class="fa fa-quote-left color-2" aria-hidden="true"></i></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="testimonialContent  bg-color-3">
          <span class="userSign border-color-3"><i class="fa fa-quote-left color-3" aria-hidden="true"></i></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="testimonialContent  bg-color-4">
          <span class="userSign border-color-4"><i class="fa fa-quote-left color-4" aria-hidden="true"></i></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="testimonialContent  bg-color-5">
          <span class="userSign border-color-5"><i class="fa fa-quote-left color-5" aria-hidden="true"></i></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="testimonialContent  bg-color-6">
          <span class="userSign border-color-6"><i class="fa fa-quote-left color-6" aria-hidden="true"></i></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="colorSection full-width clearfix bg-color-6 commentSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel commentSlider">
          <div class="slide">
            <div class="commentContent text-center">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
              <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat Duis aute irure dolor nulla pariatur.</h2>
              <h3>Amanda Smith</h3>
              <p>Sarah’s Father</p>
            </div>
          </div>
          <div class="slide">
            <div class="commentContent text-center">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
              <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat Duis aute irure dolor nulla pariatur.</h2>
              <h3>Amanda Smith</h3>
              <p>Sarah’s Father</p>
            </div>
          </div>
          <div class="slide">
            <div class="commentContent text-center">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
              <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat Duis aute irure dolor nulla pariatur.</h2>
              <h3>Amanda Smith</h3>
              <p>Sarah’s Father</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="whiteSection full-width clearfix testimonialArea">
  <div class="container">
    <div class="row testimonial-grid">
      <div class="col-sm-4 col-xs-12">
        <div class="testimonialContent  bg-color-1">
          <span class="userSign border-color-1"><img src="img/testimonial/1.jpg" alt="img" class="img-circle img-responsive"></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="testimonialContent  bg-color-2">
          <span class="userSign border-color-2"><img src="img/testimonial/2.jpg" alt="img" class="img-circle img-responsive"></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="testimonialContent  bg-color-3">
          <span class="userSign border-color-3"><img src="img/testimonial/3.jpg" alt="img" class="img-circle img-responsive"></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="testimonialContent  bg-color-4">
          <span class="userSign border-color-4"><img src="img/testimonial/4.jpg" alt="img" class="img-circle img-responsive"></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="testimonialContent  bg-color-5">
          <span class="userSign border-color-5"><img src="img/testimonial/5.jpg" alt="img" class="img-circle img-responsive"></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="testimonialContent  bg-color-6">
          <span class="userSign border-color-6"><img src="img/testimonial/6.jpg" alt="img" class="img-circle img-responsive"></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <h3>Physical Activity <br> <small>Sarah’s Father</small></h3>
        </div>
      </div>
    </div>
  </div>
</section>