<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1 col-xs-12">
                <div class="errorMsg">
                    <img src="../../assets/img/404.png" alt="Status 404" class="img-responsive">
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="errorInfo">
                    <h3>Oops! '{{page}}' niet gevonden...</h3>
                    <p>Het Langua team werd verwittigd en we gaan dit zo snel mogelijk oplossen.</p>
                    <a routerLink="/home" class="btn btn-primary bg-color-3">Terug naar startpagina</a>
                </div>
            </div>
        </div>
    </div>
</section>